/* 未重製 */

/* 【輸入區塊 */
.step {
	display: none;
	width: 100%;

	h4 {
		margin-top: 10px;
		margin-bottom: 40px;

		font-family: '王翰宗粗鋼體';
		font-size: 24px;
		color: var(--main-color);


	}
}




/* 進度條 */
.progress {
	width: 100%;
	height: 12px;


	.progress-bar {
		background-color: var(--main-color);
	}
}




.active-step {
	display: block;
}

/* 輸入區塊】 */




.btn-group {
	display: flex;
	margin-top: 20px;
	width: 100%;

	.btn {

		&:first-child {
			width: 40%;
		}

		&:last-child {
			width: 60%;
		}

	}
}